/*------------- ABOUT TEXT -------------*/
#about {
	padding: 0 50px;
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1s; /* Firefox < 16 */
	-ms-animation: fadein 1s; /* Internet Explorer */
	-o-animation: fadein 1s; /* Opera < 12.1 */
	animation: fadein 1s;
}
#intro-image {
	width: 100%;
	max-width: 550px;
}
#intro {
	padding: 0 30px;
	text-align: left;
}
#intro h4 {
	font-size: 30px;
	letter-spacing: 10px;
	margin-bottom: 30px;
	text-align: center;
}
#intro p {
	letter-spacing: 2px;
	line-height: 30px;
	margin-bottom: 45px;
}
#intro a {
	font-weight: 800;
	color: #96CDCD;
}
@media (max-width: 767px) {
	#intro-image {
		width: 250px;
	}
	#intro {
		margin-top: 40px;
		text-align: center;
	}
	#intro h4 {
		font-size: 25px;
	}
	#intro p {
		font-size: 13px;
		line-height: 25px;
	}
}


/*------------- SOCIAL MEDIA -------------*/
#social-media {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}

#social-media img {
	width: 25px;
	height: 25px;
	display: inline-block;
	margin-right: 15px;
}

#social-media p {
	display: inline-block;
}