#about {
	padding: 0 50px;
/*	background-color: black;*/
}

#about img {
	width: 100%;
	max-width: 550px;
}

#intro {
/*	padding: 0 10%;*/
	padding: 0 30px;
/*	background-color: aliceblue;*/
}

#intro h4 {
	font-size: 30px;
	letter-spacing: 10px;
	margin-bottom: 30px;
}

#intro p {
	letter-spacing: 2px;
	line-height: 30px;
}

#social-media {
	
}

#social-media img {
	width: 20px;
	display: inline-block;
	margin-right: 15px;
}
#social-media p {
	display: inline-block;
}