@font-face {
  font-family: 'HelveticaNeue-UltraLight';
  src: url('fonts/HelveticaNeue-UltraLight.eot');
  src: url('fonts/HelveticaNeue-UltraLight.woff2') format('woff2'),
       url('fonts/HelveticaNeue-UltraLight.woff') format('woff'),
       url('fonts/HelveticaNeue-UltraLight.ttf') format('truetype'),
       url('fonts/HelveticaNeue-UltraLight.svg#HelveticaNeue-UltraLight') format('svg'),
       url('fonts/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('fonts/HelveticaNeue-Light.eot');
  src: url('fonts/HelveticaNeue-Light.woff2') format('woff2'),
       url('fonts/HelveticaNeue-Light.woff') format('woff'),
       url('fonts/HelveticaNeue-Light.ttf') format('truetype'),
       url('fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg'),
       url('fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Signerica';
  src: url('fonts/Signerica.eot');
  src: url('fonts/Signerica.woff2') format('woff2'),
       url('fonts/Signerica.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SignericaFat';
  src: url('fonts/SignericaFat.woff') format('woff'),
       url('fonts/SignericaFat.ttf') format('truetype'),
       url('fonts/SignericaFat.svg#SignericaFat') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	text-align: center;
	background: #fff;
	height: 100%;
	font-family: 'HelveticaNeue-Light', "Helvetica Neue UltraLight", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
/*
	font-family: 'Avenir-Light';
	font-family: 'GillSans-Light';
*/
	margin: 0px;
	padding: 0px;
}

/*------------------- GENERAL -------------------*/
a:link, a:visited {
	text-decoration: none;
    color: #919191;
}

a:hover, a:active {
	color: black;
}


/* ------------------ NAVIGATION ------------------ */
.navbar {
    z-index: 1000;
	background-color: #fff;
}
.navbar-default {
	border-color: transparent;
}
.navbar .navbar-nav {
    float: right;
    vertical-align: bottom!important;
	bottom: 0;
	margin-bottom: 0;
}
.navbar .navbar-collapse {
    text-align: right;
}
.navbar .navbar-collapse li {
	color: #000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
	background-color: transparent;
}
#myNavbar ul {
    list-style: none; 
}
#myNavbar ul li {
    letter-spacing: 3px;
}
#myNavbar a {
	text-decoration: none;
	color: #919191;
}
#myNavbar a:hover {
	color: #000;
}
#myNavbar .active a {
    color: #000;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
}
@media (min-width: 768px) {
	.navbar {
		margin-top: 30px;
		margin-bottom: 60px;
		padding-left: 50px;
		padding-right: 50px;
	}
	.navbar .navbar-nav {
		margin-top: 40px;
	}
}
/*
@media (max-width: 767px) {
	.nav {
		height: 50px;
	}
}
*/
#logo-title {
	float: left;
	text-align: left;
	color: #000;
	margin-left: 50px;
}
#logo-title h1 {
	font-family: 'Argentinian Nights by Kestrel Montes';
	font-family: 'Eastpine';
	font-family: 'Elfa Brush';
	font-family: 'Get Lucky';
	font-family: 'Jacques & Gilles';
	font-family: 'King Size';
	font-family: 'Markella';
	font-family: 'Mocking';
	font-family: 'Rabusto';
	font-family: 'Scallion';
	font-family: 'Selima';
	font-family: 'SignericaFat', 'Signerica';
/*
	font-family: 'silicia script';
	font-family: 'streetlight';
*/
/*	letter-spacing: 5px;*/
}
#logo-title h6 {
	letter-spacing: 2px;
}
