/*------------- FONTS -------------*/
@font-face {
  font-family: 'HelveticaNeue-UltraLight';
  src: url('fonts/HelveticaNeue-UltraLight.eot');
  src: url('fonts/HelveticaNeue-UltraLight.woff2') format('woff2'),
       url('fonts/HelveticaNeue-UltraLight.woff') format('woff'),
       url('fonts/HelveticaNeue-UltraLight.ttf') format('truetype'),
       url('fonts/HelveticaNeue-UltraLight.svg#HelveticaNeue-UltraLight') format('svg'),
       url('fonts/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('fonts/HelveticaNeue-Light.eot');
  src: url('fonts/HelveticaNeue-Light.woff2') format('woff2'),
       url('fonts/HelveticaNeue-Light.woff') format('woff'),
       url('fonts/HelveticaNeue-Light.ttf') format('truetype'),
       url('fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg'),
       url('fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Signerica';
  src: url('fonts/Signerica.eot');
  src: url('fonts/Signerica.woff2') format('woff2'),
       url('fonts/Signerica.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SignericaFat';
  src: url('fonts/SignericaFat.woff') format('woff'),
       url('fonts/SignericaFat.ttf') format('truetype'),
       url('fonts/SignericaFat.svg#SignericaFat') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*------------- GENERAL -------------*/
body {
	text-align: center;
	background: #fff;
	height: 100%;
	font-family: 'HelveticaNeue-Light', "Helvetica Neue UltraLight", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
/*
	font-family: 'Avenir-Light';
	font-family: 'GillSans-Light';
*/
	margin: 0px;
	padding: 0px;
}
a:link, a:visited {
	text-decoration: none;
    color: #919191;
}
a:hover, a:active {
	color: black;
}


/* ------------ NAVIGATION ------------ */
.navbar {
    z-index: 1000;
	background-color: #fff;
}
.navbar-default {
	border-color: transparent;
}
.navbar .navbar-nav {
    float: right;
    vertical-align: bottom!important;
	bottom: 0;
	margin-bottom: 0;
}
.navbar .navbar-collapse {
    text-align: right;
}
.navbar .navbar-collapse li {
	color: #000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
	background-color: transparent;
}
#myNavbar ul {
    list-style: none;
}
#myNavbar ul li {
    letter-spacing: 3px;
}
#myNavbar a {
	text-decoration: none;
	color: #919191;
}
#myNavbar a:hover {
	color: #000;
}
#myNavbar .active a {
    color: #000;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
}
@media (min-width: 768px) {
	.navbar {
		margin-top: 30px;
		margin-bottom: 60px;
		padding-left: 50px;
		padding-right: 50px;
	}
	.navbar .navbar-nav {
		margin-top: 30px;
	}
}
@media (max-width: 767px) {
	.navbar {
/*		margin-top: 10px;*/
	}
	.navbar .navbar-nav {
		padding-bottom: 10px;
	}
}

/* logo title in nav (sol etc) */
#logo-title {
	float: left;
	text-align: left;
	color: #000;
	margin-left: 50px;
}
#logo-title h1 {
	font-family: 'SignericaFat', 'Signerica';
	margin-top: 15px;
}
@media (max-width: 480px) {
	#logo-title h1 {
		padding-top: 10px;
		font-size: 22px;
	}
	#logo-title h6 {
		display: none;
	}
}
#logo-title h6 {
	font-size: 11px;
	letter-spacing: 2px;
}

/* nav vertical centering */
.navbar-header {
	display: flex;
	align-items: center;
}
#hamburger-menu {
	position: absolute;
	right: 20px;
}

/* hamburger nav toggle animation */
.navbar-toggle {
	border: none;
	background: transparent !important;
}
.navbar-toggle:hover {
	background: transparent !important;
}
.navbar-toggle .icon-bar {
	width: 22px;
	transition: all 0.2s;
}
.navbar-toggle .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
	opacity: 0;
}
.navbar-toggle .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
	transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
	opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
	transform: rotate(0);
}


/*------------- FADEINS -------------*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}