/*-------------------------- FONTS --------------------------*/
@font-face {
  font-family: 'Avenir-Light';
  src: url('fonts/Avenir-Light.eot');
  src: url('fonts/Avenir-Light.eot?#iefix') format('embedded-opentype'),
       url('fonts/Avenir-Light.svg#Avenir-Light') format('svg'),
       url('fonts/Avenir-Light.ttf') format('truetype'),
       url('fonts/Avenir-Light.woff') format('woff'),
       url('fonts/Avenir-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Medium';
  src: url('fonts/Avenir-Medium.eot');
  src: url('fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/Avenir-Medium.svg#Avenir-Medium') format('svg'),
       url('fonts/Avenir-Medium.ttf') format('truetype'),
       url('fonts/Avenir-Medium.woff') format('woff'),
       url('fonts/Avenir-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Signerica';
  src: url('fonts/Signerica.eot');
  src: url('fonts/Signerica.woff2') format('woff2'),
       url('fonts/Signerica.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SignericaFat';
  src: url('fonts/SignericaFat.woff') format('woff'),
       url('fonts/SignericaFat.ttf') format('truetype'),
       url('fonts/SignericaFat.svg#SignericaFat') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*-------------------------- GENERAL --------------------------*/
body {
	text-align: center;
	background: #fff;
	height: 100%;
	font-family: 'Avenir-Light', Avenir, Arial, sans-serif;
/*	font-family: 'GillSans-Light';*/
	margin: 0px;
	padding: 0px;
}
p {
	letter-spacing: 2px;
}
h2 {
	letter-spacing: 5px;
}
a:link, a:visited {
	text-decoration: none;
    color: #919191;
}
a:hover, a:active {
	color: #000;
	font-weight: 600;
}

/* fadeins */
.fadein {
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1s; /* Firefox < 16 */
	-ms-animation: fadein 1s; /* Internet Explorer */
	-o-animation: fadein 1s; /* Opera < 12.1 */
	animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* ------------------------- NAVIGATION ------------------------- */
.navbar {
    z-index: 1000;
	background-color: #fff;
}
.navbar-default {
	border-color: transparent;
}
.navbar .navbar-nav {
    float: right;
    vertical-align: bottom!important;
	bottom: 0;
	margin-bottom: 0;
}
.navbar .navbar-collapse {
    text-align: right;
}
.navbar .navbar-collapse li {
	color: #000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
	background-color: transparent;
}
#myNavbar ul {
    list-style: none;
}
#myNavbar ul li {
    letter-spacing: 3px;
}
#myNavbar a {
	text-decoration: none;
	color: #919191;
}
#myNavbar a:hover, #myNavbar .active a {
    color: #000;
	font-family: 'Avenir-Medium';
	font-weight: 600;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
}
@media (min-width: 768px) {
	.navbar {
		margin-top: 30px;
		margin-bottom: 60px;
		padding-left: 50px;
		padding-right: 50px;
	}
	.navbar .navbar-nav {
		margin-top: 30px;
	}
}
@media (max-width: 767px) {
	.navbar {
/*		margin-top: 10px;*/
	}
	.navbar .navbar-nav {
		padding-bottom: 10px;
	}
}

/* logo title in nav (sol etc) */
#logo-title {
	float: left;
	text-align: left;
	color: #000;
	margin-left: 50px;
}
#logo-title h1 {
	font-family: 'SignericaFat', 'Signerica';
	margin-top: 15px;
}
@media (max-width: 480px) {
	#logo-title h1 {
		padding-top: 10px;
		font-size: 22px;
	}
	#logo-title h6 {
		display: none;
	}
}
#logo-title h6 {
	font-size: 11px;
	letter-spacing: 2px;
}

/* nav vertical centering */
.navbar-header {
	display: flex;
	align-items: center;
}
#hamburger-menu {
	position: absolute;
	right: 20px;
}

/* hamburger nav toggle animation */
.navbar-toggle {
	border: none;
	background: transparent !important;
}
.navbar-toggle:hover {
	background: transparent !important;
}
.navbar-toggle .icon-bar {
	width: 22px;
	transition: all 0.2s;
}
.navbar-toggle .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
	opacity: 0;
}
.navbar-toggle .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
	transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
	opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
	transform: rotate(0);
}


/*-------------------------- INDEX --------------------------*/
/* attempt to block fouc */
#index-placeholder {
	height: 600px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 0;
}

/* photo carousel */
#index-photos-container {
	width: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	margin-top: -270px;
	text-align: center;
}
.index-photos {
	overflow-x: hidden;
	margin: 0;
	height: 600px;
	visibility: hidden;
	opacity: 0;	 
	transition: opacity 1s;
	position: relative;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: #fff;
}
.index-photos.slick-initialized {
	visibility: visible;
	opacity: 1;
}
.index-photos .carousel-photo {
	display: none;
	height: 600px; 
	padding: 0;
	margin-left: 10px;
}
.index-photos .carousel-photo:first-child {
	display: block;
} 
.index-photos.slick-initialized .carousel-photo{
	display: block;
	visibility: visible!important;
}
.index-photos .carousel-photo:focus {
	outline:0;
}
@media (max-width: 900px) {
	#index-placeholder {
		height: 500px;
	}
	#index-photos-container {
		margin-top: -230px;
	}
	.index-photos {
		height: 500px;
	}
	.index-photos .carousel-photo {
		height: 500px;
	}
}
@media (max-width: 768px) {
	#index-placeholder {
		height: 400px;
	}
	#index-photos-container {
		margin-top: -200px;
	}
	.index-photos {
		height: 400px;
	}
	.index-photos .carousel-photo {
		height: 400px;
	}
}


/*-------------------------- ABOUT --------------------------*/
/* text */
#about {
	padding: 0 50px;
}
#about #intro-image {
	width: 100%;
	max-width: 550px;
}
#about #intro {
	padding: 0 30px;
	text-align: left;
}
#about #intro h1 {
	font-size: 30px;
	letter-spacing: 10px;
	margin-bottom: 30px;
	text-align: center;
}
#about #intro p {
	line-height: 30px;
	margin-bottom: 45px;
}
#about #intro a {
	font-weight: 800;
	color: #96CDCD;
}
@media (max-width: 767px) {
	#about #intro-image {
		width: 250px;
	}
	#about #intro {
		margin-top: 40px;
		text-align: center;
	}
	#about #intro h1 {
		font-size: 23px;
	}
	#about #intro p {
		font-size: 13px;
		line-height: 25px;
	}
}

/* social media */
#about #social-media {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}

#about #social-media img {
	width: 25px;
	height: 25px;
	display: inline-block;
	margin-right: 15px;
}

#about #social-media p {
	display: inline-block;
}


/*-------------------------- PLACES --------------------------*/
#travels {
	padding-bottom: 100px;
}
#travels p a {
	font-weight: 800;
	color: #96CDCD!important;
}
@media (max-width: 767px) {
	#travels h2 {
		margin-top: 30px;
		font-size: 23px;
		padding: 0 30px;
	}
	#travels p {
		font-size: 13px;
		padding: 0 25px;
	}
}

/* places grid */
#places {
	width: 100%;
	padding: 0 150px;
	margin: 0;
	margin-bottom: 100px;
}
#places .row {
	padding: 0;
	margin: 0px;
}
#places .row .col-sm-4 {
	padding: 0;
	padding-top: 25px;
	margin: 0px;
	letter-spacing: 2px;
}
#places img {
	width: 90%;
	height: auto;
	max-height: 300px;
	max-width: 300px;
	margin-bottom: 25px;
}

@media (max-width: 767px) {
	#places {
		width: 100%;
		padding: 0 100px;
		margin: 0;
		margin-bottom: 100px;
	}
}
@media (max-width: 480px) {
	#places {
		margin-bottom: 50px;
	}
}


/*-------------------------- SNIPPETS --------------------------*/
/* description */
#secondeveryday {
	width: 70%;
	max-width: 650px;
	margin: 0 auto;
}
#secondeveryday h2 {
	margin-bottom: 15px;
}
#secondeveryday p {
	margin-bottom: 18px;
}
@media (max-width: 767px) {
	#secondeveryday h2 {
		margin-top: 30px;
		font-size: 23px;
		padding: 0 30px;
	}
	#secondeveryday p {
		font-size: 13px;
	}
}

/* video */
#secondeveryday .video-container {
	position:relative;
	padding-bottom:56.25%;
	height:0;
	overflow:hidden;
	margin: 0 auto 60px;
}
#secondeveryday .video-container iframe, #secondeveryday .video-container object, #secondeveryday .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
