/*------------- PHOTO CAROUSEL -------------*/
#photos-container {
	width: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	margin-top: -270px;
	text-align: center;
}

/* attempt to block fouc */
#placeholder {
	height: 600px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 0;
}
.photos {
	overflow-x: hidden;
	margin: 0;
	height: 600px;
	visibility: hidden;
	opacity: 0;	 
	transition: opacity 1s;
	position: relative;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: #fff;
}
.photos.slick-initialized {
	visibility: visible;
	opacity: 1;
}
.photos .carousel-photo {
	display: none;
	height: 600px; 
	padding: 0;
	margin-left: 10px;
}
.photos .carousel-photo:first-child {
	display: block;
} 
.photos.slick-initialized .carousel-photo{
	display: block;
	visibility: visible!important;
}

/* etc */
.photos .carousel-photo:focus {
	outline:0;
}
@media (max-width: 900px) {
	#placeholder {
		height: 500px;
	}
	#photos-container {
		margin-top: -230px;
	}
	.photos {
		height: 500px;
	}
	.photos .carousel-photo {
		height: 500px;
	}
}
@media (max-width: 768px) {
	#placeholder {
		height: 400px;
	}
	#photos-container {
		margin-top: -200px;
	}
	.photos {
		height: 400px;
	}
	.photos .carousel-photo {
		height: 400px;
	}
}