/*------------- PHOTO CAROUSEL -------------*/
#photos-container {
	width: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	margin-top: -270px;
}

/* attempt to block fouc */
.photos{
	overflow-x: hidden;
	margin: 0;
	height: 600px;
	visibility: hidden;
	opacity: 0;	 
	transition: opacity 1s;
}
.photos.slick-initialized{
	visibility: visible;
	opacity: 1;
}
.photos .carousel-photo{
	display: none;
	height: 600px; 
	padding: 0;
	margin-left: 10px;
}
.photos .carousel-photo:first-child{
	display:block;
	visibility:hidden;
} 
.photos.slick-initialized .carousel-photo{
	display:block;
	visibility:visible!important;
}

/* etc */
.photos .carousel-photo:focus {
	outline:0;
}
@media (max-width: 900px) {
	#photos-container {
		margin-top: -230px;
	}
	.photos {
		height: 500px;
	}
	.photos .carousel-photo {
		height: 500px;
	}
}
@media (max-width: 768px) {
	#photos-container {
		margin-top: -200px;
	}
	.photos {
		height: 400px;
	}
	.photos .carousel-photo {
		height: 400px;
	}
}