#place {
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1s; /* Firefox < 16 */
	-ms-animation: fadein 1s; /* Internet Explorer */
	-o-animation: fadein 1s; /* Opera < 12.1 */
	animation: fadein 1s;
	max-width: 1400px;
	margin: 0px auto;
	padding: 0px 50px;
}


/*------------- DESCRIPTION -------------*/
.place-description {
}
.place-description h1 {
	letter-spacing: 5px;
	color: #000;
	margin-bottom: 15px;
}
.place-description h6 {
	letter-spacing: 2px;
	margin-bottom: 50px;
}
@media (max-width: 767px) {
	.place-description {
		margin-top: 30px;
	}
	.place-description h1 {
		font-size: 22px;
	}
}


/*------------- IMAGE GRID -------------*/
.grid {
	margin: 0 auto;
	margin-bottom: 80px;
}
.grid-item {
	width: 300px;
	margin-bottom: 10px;
}
.grid-item a:focus {
	outline: 0;
}
.grid-item img {
	width: 300px;
}


/*------------- MAGNIFIC POPUP -------------*/
.mfp-with-zoom .mfp-container, .mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	-o-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-with-zoom.mfp-ready .mfp-container {
	opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
.mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
.mfp-bottom-bar {
	text-align: center;
}
.mfp-title {
	letter-spacing: 2px;
	font-size: 12px;
	padding: 0;
}
.mfp-counter {
	display: none;
}


/*------------- PLACES NAV -------------*/
#places-nav {
	padding: 0 50px;
	margin-bottom: 100px;
}
#places-nav .col-xs-4 {
	display: inline-block;
}
#places-nav img {
	height: 15px;
	display: inline-block;
	vertical-align: bottom;
}
#places-nav p {
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 3px;
	display: inline-block;
	color: #000;
	vertical-align: bottom;
	margin: 0;
}
#prev-place img {
	margin-right: 5px;
}
#all-places {
}
#next-place img {
	margin-left: 2px;
}
@media (max-width: 767px) {
	#places-nav {
		padding: 0 100px;
	}
	#places-nav img {
		display: block;
		position: relative;
		top: 0;
	}
	#places-nav p {
		display: block;
		position: relative;
		bottom: 0;
	}
	#prev-place img {
		top: 18px;
	}
	#prev-place p {
		top: -15px;
	}
	#next-place img {
		margin-left: auto;
	}
	#prev-place {
		text-align: left;
	}
	#next-place {
		text-align: right;
	}
}


/*------------- SCROLL TO TOP -------------*/
#scroll-to-top {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 99;
	height: 60px;
	width: 60px;
    border: none;
    outline: none;
    background-color: #cfcfd8;
    color: white;
    cursor: pointer;
    border-radius: 100%;
	opacity: 0.9;
}
#scroll-to-top img {
	height: 25px;
}
#scroll-to-top:hover {
    background-color: #96CDCD;
	opacity: 1;
}